.App {
  font-family: sans-serif;
}
.userProfile {
  border: 1px solid black;
  width: 70%;
  display: flex;
  margin: auto;
}
.nameFollow{
  display: flex;
}

.userProfile button {
  height: 35px;
  width: 100px;
  cursor: pointer;
  background-color: rgb(36, 41, 47);
  color: white;
  border-radius: 10px;
  position: relative;
  top: 20px;
  margin-left: 50px;
}

.title {
  position: relative;
  top: -20px;
  font-size: 19px;
}
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  width: 120px;
  height: 30px;
}
.skills p {
  font-size: 12px;
  margin-left: 5px;
}

.avatar {
  height: 200px;
  border-radius: 50%;
  margin-left: 110px;
}

.allskill {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}